<app-menu-superior></app-menu-superior>
<div class="container main-container">
<div class="row">
  <div class="carousel-inner">
    <carousel>
  <slide>
    <img src="http://placehold.it/1200x400/16a085/ffffff&text=Vinícius Líder .NET" class="img-responsive" >
    <div class="carousel-caption">
      
    </div>
  </slide>
  <slide>
    <img src="http://placehold.it/1200x400/80FF00/ffffff&text=Vinícius Líder .NET" class="img-responsive">
    <div class="carousel-caption">
      
    </div>
  </slide>
  <slide>
    <img src="http://placehold.it/1200x400/0B2161/ffffff&text=Vinícius Líder .NET" class="img-responsive">
    <div class="carousel-caption">
      
    </div>
  </slide>
</carousel>
  </div>
</div>
</div>
